.banner-ad-wrapper {
    display: flex;
}

.banner-ad {
    margin: 24px auto;
    display: flex;
    justify-content: center;
    width: 90%;
}

.banner-ad-image {
    max-height: 66px;
    width: 100%;
}

.car-search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

.car-search-dropdown-title {
    text-align: center;
    font-size: 24px;
}

@media screen and (max-width: 649px) {
    .car-search-dropdown-title {
        font-size: 3.7vw;
    }
}

.car-search-calculator-title {
    margin: 24px 0 8px;
    font-size: 24px;
    font-weight: 500;
}

@media screen and (max-width: 649px) {
    .car-search-calculator-title {
        margin: 3.7vw 0 1.23vw;
        font-size: 3.7vw;
    }
}

.car-search-table {
    border-collapse: collapse;
    width: 60%;
    min-width: 500px;
}

@media screen and (max-width: 649px) {
    .car-search-table {
        min-width: 77.04vw;
    }
}

.car-search-table-cell.title {
    font-weight: 700;
}

.car-search-table-cell {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 649px) {
    .car-search-table-cell {
        border: .15vw solid #000;
        padding: 1.23vw;
        font-size: 2.47vw;
    }
}

.car-search-calculator-disclaimer {
    margin: 6px 0;
    font-size: 12px;
    font-weight: 400;
}

@media screen and (max-width: 649px) {
    .car-search-calculator-disclaimer {
        margin: .92vw 0;
        font-size: 1.85vw;
    }
}