.forgot-password-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin: 24px 0 0 0;
}

.forgot-password-box {
    max-width: 600px;
    width: 90vw;
    margin: 32px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.forgot-password-subtitle {
    font-weight: 400;
    font-size: 18px;
    margin: 0 auto;
    max-width: 460px;
    width: 90%;
    text-align: center;
}

.forgot-password-input-wrapper {
    margin: 18px auto;
    display: flex;
    justify-content: center;
}

.forgot-password-input {
    border: 1px solid #ccc;
    max-width: 460px;
    width: 90%;
    font-size: 14px;
    padding: 8px 12px;
    accent-color: #00a5e3;
}

.forgot-password-button-wrapper {
    margin: 18px auto;
    display: flex;
    justify-content: center;
}

.forgot-password-button {
    background: #00a5e3;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 18px;
    text-transform: uppercase;
    cursor: pointer;
}

.forgot-password-button:hover {
    opacity: 0.8;
}

.forgot-password-logo-wrapper {
    display: flex;
    justify-content: center;
}

.forgot-password-logo {
    max-width: 240px;
    width: 90%;
    height: auto;
    margin: 0 auto 36px;
}