@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: min-content;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #212529;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}